<section class="opt-in-section wrapper wrapper--md">
  <div class="main-lockup main-lockup--opt-in">
    <div class="main-lockup__copy">
      <h2 class="main-heading main-lockup__heading">Benefits & Exclusives</h2>
      <p class="main-body main-lockup__body">
        First access to new arrivals, treatment experiences, plus 10% off products
      </p>
    </div>
    <button
      class="btn btn--primary all-caps main-lockup__btn"
      data-tf-popup="ZCtItKNS"
      data-tf-opacity="100"
      data-tf-size="100"
      data-tf-iframe-props=""
      data-tf-transitive-search-params=""
      data-tf-medium=""
      data-tf-hidden=""
    >
      Sign Up
    </button>
  </div>
</section>
