<section class="opt-in-section wrapper wrapper--md">
  <div class="main-lockup main-lockup--opt-in">
    <div class="main-lockup__copy">
      <h2 class="main-heading main-lockup__heading">For a radiant future</h2>
      <p class="main-body main-lockup__body">
        First access to new arrivals, treatment experiences, plus customer exclusives
      </p>
    </div>
    <button
      class="btn btn--primary all-caps main-lockup__btn"
      id="email-opt-in-trigger"
    >
      Sign Up
    </button>
  </div>
</section>
