<section class="skin-analysis-section wrapper wrapper--lg">
  <div
    class="skin-analysis-section__container"
    style="background-image: url({{ 'global_skin-analysis_LNK8083_01_ar-16-9_1784-greater_low-res_compressed.jpg' | asset_url }});"
  >
    <div class="main-lockup main-lockup--skin-analysis">
      <div class="main-lockup__copy">
        <h2 class="main-heading main-lockup__heading">Transform your skin</h2>
        <p class="main-body main-lockup__body">Discover your unique skin needs with an expert skin analysis.</p>
      </div>
      <a
        class="btn btn--primary all-caps main-lockup__btn"
        href="https://rewindskinco-book.as.me/schedule.php?appointmentType=category%3ACONSULTATIONS"
        target="_blank"
      >
        Start Here
      </a>
    </div>
  </div>
</section>
