<section class="treatments-section aggregate-section">
  <div class="filter-header wrapper wrapper--md">
    <h2 class="all-caps filter-header__type">Skin Treatments</h2>
    <form class="filter-header__container">
      <input
        type="radio"
        id="treatments-section-filter-face"
        name="treatments-section-filter"
        value="face"
        class="filter-header__input"
        checked>
      <label class="all-caps filter-header__type filter-header__btn" for="treatments-section-filter-face">Face</label>

      <input
        type="radio"
        id="treatments-section-filter-body"
        name="treatments-section-filter"
        value="body"
        class="filter-header__input">
      <label class="all-caps filter-header__type filter-header__btn" for="treatments-section-filter-body">Body</label>
    </form>
    <a class="all-caps filter-header__type" href="/pages/skin-treatments">View All</a>
  </div>
  <div class="treatments-section__container wrapper wrapper--md">
    <div class="treatments-section__column">
      <div class="main-lockup main-lockup--treatments">
        <div class="main-lockup__copy">
          <h2 class="main-heading main-lockup__heading">Pause and rewind.</h2>
          <p class="main-body main-lockup__body">
            At our Toronto-based studio, we combine the art of nurturing touch with revolutionary technology for treatments that uncover uncomplicated, healthy skin.
          </p>
        </div>
        <a class="btn btn--secondary all-caps main-lockup__btn" href="/pages/skin-treatments">Discover</a>
      </div>
    </div>
    <div class="treatments-section__column embla">
      <div class="embla__viewport">
        <div class="embla__container" id="treatments-section-results"></div>
      </div>
      <div class="embla__progress">
        <div class="embla__progress-bar" style="transform: translate3d(0%, 0px, 0px);"></div>
      </div>
    </div>
  </div>
</section>