<main class="wrapper wrapper--sm legal-main">
  <div class="legal-main__container">
    <h2 class="main-heading">Returns Policy</h2>
    <p class="main-body">Last updated: March 4, 2024.</p>
    <p class="main-body">
      We understand that there may come a time to return a purchase and we aim to make the returns process as simple as
      possible.
    </p>
    <p class="main-body">
      If you’re looking to return or exchange your order, we offer returns within 7 days of purchase. You can return
      your product for store credit or a different product.
    </p>
    <p class="main-body">
      Please note: To qualify for a return, products must be in their original, unopened, and unused condition. In
      instances of an allergic reaction to any of our products, customers are required to provide visual documentation
      of the reaction to facilitate the return process.
    </p>
  </div>
  <div class="legal-main__container">
    <h3 class="all-caps legal-main__sub-heading">Return Process</h3>
    <p class="main-body">
      To return an item, email us at hello@rewindskinco.com with your Order Number and return reason and our support
      team will be happy to assist you with the next steps.
    </p>
    <p class="main-body">You will be liable for any return shipping charges.</p>
  </div>
  <div class="legal-main__container">
    <h3 class="all-caps legal-main__sub-heading">Store Credit or Exchanges</h3>
    <p class="main-body">
      After receiving your item/s and inspecting the condition, we will process your store credit or exchange. Please
      allow at least 3 to 5 business days from the receipt of your item/s for your return to be processed.
    </p>
  </div>

  <div class="legal-main__container">
    <h3 class="all-caps legal-main__sub-heading">Questions</h3>
    <p class="main-body">For questions relating to our returns policy, please contact us at hello@rewindskinco.com</p>
  </div>
</main>
